In [33]:
import pymongo
import os
from pymongo import MongoClient
client = MongoClient(host ='mongodb1.dev.zippia.com')
# salary2 = client['zippia_FLC']['salary2']
salary_2017 = client['zippia_2017_04_09']['salary_2017_04_09']
MONGO_DB_NAME = os.getenv('MONGO_DB_NAME', 'zippia')
SALARY = os.getenv('SALARY', 'salary_new')
SALARY_NEW_backup = os.getenv('SALARY_BACKUP', 'salary_new_backup')
SALARY_2017 = os.getenv('SALARY_BACKUP', 'salary_2017_update')
# salary_2015_H2A = client['zippia']['salary_2015_H2A']
# salary_2008_H1B = client['zippia']['salary_2008_H1B']
# salary_2009_LCA = client['zippia']['salary_2009_LCA']
print SALARY.find({'caseId' :'I-200-17187-084979'})

In [3]:
import pymongo
import os
from pymongo import MongoClient
client = MongoClient(host ='datascience1.dev.zippia.com')
wikipedia_parsed_test_2 = client['zippia_187_2']['wikipedia_parsed_test_2']
WIKIPEDIA_PARSED_TEST_3= os.getenv('WIKIPEDIA_PARSED_BAK', 'wikipedia_parsed_test_3')

pipeline = [{"$match": {}},
                {"$out": WIKIPEDIA_PARSED_TEST_3},
                ]
wikipedia_parsed_test_2.aggregate(pipeline)

In [ ]:
import pymongo
import os
from pymongo import MongoClient
client = MongoClient(host ='datascience1.dev.zippia.com')
wikipedia_parsed_test_2 = client['zippia_187_2']['wikipedia_parsed_test_2']
WIKIPEDIA_PARSED_TEST_3= os.getenv('WIKIPEDIA_PARSED_BAK', 'wikipedia_parsed_test_3')

In [15]:
print salary.count({'decisiondate':{'$gt':1451606400000,'$lt':1454198400000}})
print salary.count({'decisiondate':{'$gt':1454198400000,'$lt':1456704000000}})
print salary.count({'decisiondate':{'$gt':1456704000000,'$lt':1459382400000}})

56133
71298
170404
57048
47875
53468
55359
56028
51775
50865
49107
46378
35848
58153
179365
52518
45664
46287
40189
43236
40919
786001

In [17]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1451606400000,'$lt':1454198400000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5626447402.430028, u'_id': 0}]

In [18]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1454198400000,'$lt':1456704000000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 7019541787.570064, u'_id': 0}]

In [19]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1456704000000,'$lt':1459382400000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 14790651004.50989, u'_id': 0}]

In [21]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1459382400000,'$lt':1462060800000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5711089118.800017, u'_id': 0}]

In [23]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1462060800000,'$lt':1464652800000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4794772962.169911, u'_id': 0}]

In [24]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1464652800000,'$lt':1467331200000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 6132275490.579912, u'_id': 0}]

In [25]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1467331200000,'$lt':1469923200000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4959235785.539995, u'_id': 0}]

In [27]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1469923200000,'$lt':1472601600000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5204764246.399958, u'_id': 0}]

In [28]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1472601600000,'$lt':1475193600000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5108078266.949933, u'_id': 0}]

In [40]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1475193600000,'$lt':1477872000000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[]

In [33]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1477872000000,'$lt':1483056000000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 10292569601.370092, u'_id': 0}]

In [34]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1483056000000,'$lt':1485820800000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 3897419242.6299725, u'_id': 0}]

In [35]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1485820800000,'$lt':1488240000000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5737304027.019932, u'_id': 0}]

In [36]:
a = list(salary.aggregate(
[
{'$match':{'decisiondate':{'$gt':1488240000000,'$lt':1490918400000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 19439361765.391705, u'_id': 0}]

In [42]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1490918400000,'$lt':1493510400000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5653067952.859903, u'_id': 0}]

In [43]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1493510400000,'$lt':1496188800000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4972960158.849846, u'_id': 0}]

In [51]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1495929600000,'$lt':1498867200000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 5142111556.439883, u'_id': 0}]

In [49]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1498521600000,'$lt':1501459200000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4750303046.439946, u'_id': 0}]

In [47]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1501459200000,'$lt':1504137600000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4435456102.539993, u'_id': 0}]

In [48]:
a = list(salary_2017.aggregate(
[
{'$match':{'decisiondate':{'$gt':1504137600000,'$lt':1506816000000}}},
{'$group':
            {'_id':0,
             'count':{'$sum':'$salary'}}}
]))
print a

[{u'count': 4511578119.920001, u'_id': 0}]

5367875

In [9]:
a = []
for r in salary.find():
    caseId = r.get('caseId')
    a.append(caseId)
print salary.count() - len(set(a))

172152

In [16]:
print salary.count()
print salary2.count({'decisiondate':{'$gt':1191240000000,'$lt':1222862400000},'visaClass':'H-1B'})
print salary_2015_H2A.count()
print salary_2009_LCA.count()

5635014
1348
20662
87958

In [41]:
import json
a= list(salary_2015_H2A.aggregate([{'$match':{'cleanCompany':'Google Inc.'}},
                                {'$group':{'_id':'$employerCity','avgAmount':{'$avg':'$salary'}}},
                               {'$project':{'titleDisplay':1,'avgAmount':1,'employerCity':1}}
                                  ]))

with open('a.json', 'w') as w:
    json.dump(a,w)
df = pd.read_json('a.json')
print df.sort_values('_id',ascending=False)

             _id      avgAmount
0  Mountain View  123871.307692
1   MOUNTAINVIEW  178000.000000
2  MOUNTAIN VIEW  130715.084828

In [42]:
import json
import pandas as pd
b= list(salary.aggregate([{'$match':{'cleanCompany':'Google Inc.'}},
                          {'$group':{'_id':'$titleDisplay','avgAmount':{'$avg':'$salary'}}}
                                  ]))

with open('b.json', 'w') as w:
    json.dump(b,w)

In [3]:
import pandas as pd
df = pd.read_json('b.json')
# df.sort_values('_id',ascending=False)

In [ ]:
db.getCollection('salary2').count({'decisiondate':{'$gt':1191240000000,'$lt':1222862400000},'visaClass':'H-1B'})

In [ ]:
b =list(set(a))
for x in a:
    if x not in b:
        print x

In [54]:
print len(a)

5367875

In [5]:
# >>> t = [1,1,2,2,3,3,4,5]
# >>> print list(set(t))
# [1,2,3,4,5]

print len(list(set(a)))

5195723